* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.col-6 {
    padding-right: 0px;
    padding-left: 0px;
}

h1 h2 h3 h4 h5 h6 {
    color: #2c3038;
}

.container {
    max-width: 1200px;
}
/* HEADER */
header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    color: #dc4f72;
    letter-spacing: -1px;
}
.navbar .navbar-brand span{
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    color: #dc4f72;
    letter-spacing: -1px;
}
.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
    transition: all 0.5s ease;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: #2C3038;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #dc4f72;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #dc4f72;
}
.navbar-expand-lg .navbar-nav .nav-link:hover:before, a.dropdown-item:hover:before {
    width: 20px;
}
a.nav-link:before, a.dropdown-item:before {
    position: absolute;
    content: '';
    background: #dc4f72;
    width: 0px;
    height: 2px;
    bottom: 13px;
}
nav ul li a, nav ul li a:after, nav ul li a:before {
    transition: all .5s;
}
.fa-angle-down:before {
    content: "\f107";
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
}
.dropdown-toggle::after {
    visibility: hidden;
}
.navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}
a.dropdown-item {
    font-weight: 400;
    font-size: 16px;
    color: #2C3038;
    position: relative;
    padding-top: 0;
    padding-bottom: 14px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
}
a.dropdown-item:hover {
    color: #dc4f72;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.btn-outline-primary {
    color: #dc4f72;
    background-color: transparent;
    background-image: none;
    border-color: #dc4f72;
}
.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
 /* Blog breadcrumbs */
nav#breadcrumbs {
    padding: 15px 20px;
    background: #F7F9FC;
}

.breadcrumbs {
    margin-top: 90px;
    padding: 20px 0;
}

.page-wrapper {
    color: #2C3038;
    font-size: 14px;
}

nav#breadcrumbs a {
    color: #dc4f72;
    margin: 0 5px 0 0;
    font-size: 14px;
    text-decoration: none;
    background-color: transparent;
}

nav#breadcrumbs a:hover {
    color: #ba254a;
    text-decoration: underline;
}

/* BLOG SECTION  */
.blog-tem-time {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.blog-item-inner {
    position: relative;
}

.blog-item-inner p {
    background-color: #dc4f72;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    margin-right: 16px;
}

.blog-carousel-content-detail {
    padding: 10px 20px;
    margin-top: -50px;
}
.blog-carousel-content-detail .green{
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}
.blog-carousel-content-detail .red{
    background: rgba(238, 97, 120, 0.2);
    color: #dc4f72;
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}
.blog-carousel-content-detail .blue{
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}
.blog-carousel-content-detail .read{
    color: #dc4f72;
}

/* Blog Grids */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.w3l-blog1 .grids5-info {
    border-radius: 6px;
    transition: 0.3s ease-in;
    display: block;
    height: 100%;
    background: #fff;
    border: 1px solid #eee;
}

.w3l-blog1 .grid-view a.zoom {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.w3l-blog1 a.zoom {
    overflow: hidden;
    position: relative;
}

.w3l-blog1 .grid-view .grids5-info h4 a {
    color: #2C3038;
    text-decoration: none;
    background-color: transparent;
}

.w3l-blog1 .grid-view .grids5-info h4 a:hover {
    color: #ba254a;
}

button,
.btn,
select {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.w3l-blog1 a.btn-news span {
    font-size: 60%;
    vertical-align: middle;
    padding-left: 0px;
    position: absolute;
    right: -13px;
    top: 7.5px;
    transition: 0.3s ease-in;
}

.fa-arrow-right:before {
    content: "\f061";
}

.w3l-blog1 a.btn-news:hover {
    transition: 0.3s ease-in-out;
    color: #ba254a;
}

.w3l-blog1 .grid-view .grids5-info img {
    width: 100%;
    display: block;
}

.w3l-blog1 .grid-view img.news-image {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.w3l-blog1 a.zoom img {
    transition: 0.3s ease-in-out;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.w3l-blog1 .grid-view p.date {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    border-bottom: none;
    padding-bottom: 0px;
    position: absolute;
    top: 0;
    background: #dc4f72;
    padding: 15px;
    margin-bottom: 0;
    right: 0;
    margin-top: 0;
}

.w3l-blog1 .grid-view .grids5-info p {

    line-height: 24.5px;

}

.w3l-blog1 .blog-info {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.w3l-blog1 label.tag-label.red {
    background: rgba(238, 97, 120, 0.2);
    color: #dc4f72;
}

.w3l-blog1 label.tag-label {
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}

label.tag-label.red {
    background: rgba(238, 97, 120, 0.2);
    color: #dc4f72;
}

label.tag-label {
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.w3l-blog1 a.btn-news {
    padding: 0;
    color: #dc4f72;
    transition: 0.3s ease-in-out;
    border-radius: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

.w3l-blog1 a.btn-news:hover {
    transition: 0.3s ease-in-out;
    color: #dc4f72;
}

li {
    list-style-type: none;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.w3l-blog1 .page-link {
    color: #5a5a5a;
    background-color: #fff;
    border: 1px solid #F7F9FC;
    margin: 0 5px;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.w3l-blog1 a.page-link.active,
.w3l-blog1 li.page-item a:hover {
    color: #dc4f72;
    border: 1px solid #dc4f72;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transition: 0.3s ease-in-out;
}

.page-link:hover {
    z-index: 2;
    color: #ba254a;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.clear {
    clear: both;
}

.w3l-blog1 .grids5-info:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
}

.w3l-blog1 .grids5-info:hover a.zoom img {
    filter: grayscale(0);
}

a.zoom img

.w3l-blog1 label.tag-label.green {
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
}

.w3l-blog1 label.tag-label.blue {
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}

/**
* Button pre,next
*/

.carousel-control-prev {
    left: -70px;
}

.carousel-control-next {
    right: -70px;
}

.carousel-control-prev-icon {
    background-color: #dc4f72;
    padding: 10px;
    border-radius: 50%;
}

.carousel-control-next-icon {
    background-color: #dc4f72;
    padding: 10px;
    border-radius: 50%;
}
/* FOOTER  */
.w3l-footer .w3l-footer-16-main.py-5 {
    background: #f7f9fc;
}

.w3l-footer .w3l-footer-16-main h3 {
    font-size: 20px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 700;
}
.w3l-footer .w3l-footer-16-main ul li{
    list-style: none;
    margin: 10px 0;
}
.w3l-footer .footer-gd-16 li a {
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
}

.w3l-footer .footer-gd-16 li a:hover{
    opacity: 0.8;
    color: #dc4f72;
}

.w3l-footer .end-column {
    background-color: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}
.w3l-footer .w3l-footer-16-main h4 {
    font-size: 18px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 500;
}
.w3l-footer form{
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}
.w3l-footer .subscribe input {
    background: #F7F9FC;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: #2C3038;
    font-weight: 600;
    border-radius: 6px;
}
.w3l-footer .subscribe button {
    text-align: center;
    background: #dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 6px;
}
.w3l-footer .w3l-footer-16-main p {
    line-height: 22px;
    color: #5a5a5a;
    font-size: 16px;
}

.w3l-footer .w3l-footer-16-main p a {
    color: #2C3038;
    text-decoration: none;
}
.w3l-footer .w3l-footer-16-main p a:hover{
    opacity: 0.8;
    color: #dc4f72;
}

.w3l-footer ul.social li{
    display: inline-block;
    margin-right: 5px;
}
.w3l-footer ul.social li a {
    color: #2C3038;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}
.w3l-footer ul.social li a:hover{
    opacity: 0.8;
    color: #dc4f72;
}
.w3l-footer #movetop {
    display: none;
    position: fixed;
    bottom: 75px;
    right: 0px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 45px;
    background: #dc4f72;
    padding: 0;
    opacity: 0.7;
    transition: 0.3s ease;
}
.w3l-footer #movetop span.fa {
    line-height: 45px;
    color: #fff;
    font-size: 22px;
}