* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

h1 h2 h3 h4 h5 h6 {
    color: #2c3038;
}

.container {
    max-width: 1200px;
}

/* HEADER  */
header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
header .stroke{
    background-color: white;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    color: #dc4f72;
    letter-spacing: -1px;
}

.navbar .navbar-brand span {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    color: #dc4f72;
    letter-spacing: -1px;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
    transition: all 0.5s ease;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: #2C3038;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #dc4f72;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #dc4f72;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
    width: 20px;
}

a.nav-link:before,
a.dropdown-item:before {
    position: absolute;
    content: '';
    background: #dc4f72;
    width: 0px;
    height: 2px;
    bottom: 13px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

.fa-angle-down:before {
    content: "\f107";
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
}

.dropdown-toggle::after {
    visibility: hidden;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

a.dropdown-item {
    font-weight: 400;
    font-size: 16px;
    color: #2C3038;
    position: relative;
    padding-top: 0;
    padding-bottom: 14px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
}

a.dropdown-item:hover {
    color: #dc4f72;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-outline-primary {
    color: #dc4f72;
    background-color: transparent;
    background-image: none;
    border-color: #dc4f72;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}

/* INDEX BLOCK1 */
.w3l-index1 .content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #ffff;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../imglandingpage/banner.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    padding-top: 5rem;
}

.w3l-index1 .content-left h3 {
    font-size: 50px;
    line-height: 57.5px;
    font-weight: 700;

}

.w3l-index1 .content-left p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #5a5a5a;
}

.w3l-index1 .content-photo img {
    transform: rotate(180deg);
}

/* ABOUT US 1  */
.w3l-about1 .cwp4-text h3 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 10px;
    font-weight: 600;
}

.w3l-about1 .cwp4-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24.5px;
    margin: 15px 0 35px 0;
}

.w3l-about1 .cwp4-text ul li {
    color: #2C3038;
    list-style-type: none;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    margin: 15px 0;
}

.w3l-about1 ul.cont-4 span.fa {
    border-radius: 50%;
    color: #dc4f72;
    margin-right: 12px;
    background: rgba(220, 79, 114, 0.1);
    font-size: 10px;
    padding: 8px;
    opacity: 0.5;
}

/* ABOUT US 2 */
.w3l-about2 .features h5 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
}

.w3l-about2 .features p {
    font-size: 16px;
    line-height: 24.5px;
    margin-top: 16px;
    color: #5a5a5a;
}

/* INDEX BLOCK 3 */
.w3l-index3 {
    background-color: #F7F9FC;
}

.w3l-index3 .book-info h3 {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
}

.w3l-index3 .book-info p {
    font-size: 16px;
    line-height: 24.4px;
    color: #5a5a5a;
}

/* SERVICES 1 */
.w3l-services1 h3 {
    font-size: 42px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 30px;
}

.w3l-services1 h5 {
    font-size: 24px;
    line-height: 30px;
    color: #999;
}

.w3l-services1 p {
    color: #5a5a5a;
}

.w3l-services1 .features-with-17-left1 a.icon {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    background: #F7F9FC;
    text-align: center;
    display: block;
    margin-bottom: 15px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    ;
}

.w3l-services1 h4 a {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.5px;
    color: #2C3038;
    text-decoration: none;
}

.w3l-services1 h4 a:hover {
    color: #dc4f72;
}

.w3l-services1 p.services-content {
    font-size: 16px;
    line-height: 20.5px;
    color: #5a5a5a;
    margin-top: 5px;
}

/* SERVICES 2 */
.w3l-services2 .mobile-info {
    background-color: #F7F9FC;
}

.w3l-services2 .mobile-right-info h6 a {
    font-size: 18px;
    color: #2C3038;
    margin-bottom: 5px;
    display: inline-block;
    transition: 0.3s ease-in;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
}

.w3l-services2 .mobile-right-info h6 a:hover {
    color: #dc4f72;
    transition: 0.3s ease-in;
}

.w3l-services2 .mobile-right-icon span {
    font-size: 20px;
    color: #dc4f72;
    background: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    border-radius: 50%;
    font-weight: 700;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    ;

}

.w3l-services2 .mobile-right-info p {
    font-size: 16px;
    line-height: 20.4px;
    color: #5a5a5a;
}


























/* CONTACT FORM  */
.header-section h2 {
    font-size: 46px;
    line-height: 55px;
    font-weight: 800;
}

img.img-curve:hover {
    transform: translateY(-0.5rem);
    transition: 0.3s ease-in-out;
}

img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.position-relative {
    position: relative !important;
}

.w3l-contact .contact-form {
    background: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    position: relative;
    left: -75px;
}

.header-section h3 {
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.header-section p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.w3l-contact input.contact-input,
.w3l-contact textarea {
    outline: none;
    padding: 15px 20px;
    border-radius: 0;
    color: #000;
    font-weight: 600;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #eee;
    background: #F7F9FC;
}

.w3l-contact input.contact-input:focus,
.w3l-contact textarea:focus {
    border: 1px solid #dc4f72;
    background: #fff;
}

.w3l-contact textarea {
    height: 130px;
}

.w3l-contact button.btn {
    padding: 0px 50px;
}

.w3l-contact button.btn {
    padding: 0px 50px;
}

.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}

.w3l-contact .contant11-top-bg {
    background: #F7F9FC;
}

.header-section {
    max-width: 750px;
    margin: 0 auto;
}

.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.header-section h3 {
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.header-section p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.w3l-contact .contact {
    grid-template-columns: 1fr;
}

.d-grid {
    display: grid;
}

.w3l-contact .contact-info-left {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.w3l-contact .contact-info {
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    padding: 2rem;
    background: #fff;
    border-radius: 6px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
    transition: 0.3s ease-in-out;
    text-align: center;
}

.w3l-contact .contact-info:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
    transition: 0.3s ease-in-out;
}

.w3l-contact .icon {
    width: 60px;
    margin: 0 auto;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    line-height: 60px;
    background: rgba(220, 79, 114, 0.1);
}

.w3l-contact .contact span.fa {
    font-size: 20px;
    color: #dc4f72;
    line-height: 60px;
}

.w3l-contact .contact-info h4 {
    font-size: 20px;
    color: #2C3038;
    margin: 0px 0 10px 0;
    font-weight: 700;
}

.w3l-contact .contact p {
    margin: auto;
    font-size: 18px;
    color: #5a5a5a;
    line-height: 28px;
    font-weight: 600;
}

.w3l-contact .contact a {
    display: block;
    color: #5a5a5a;
    transition: 0.3s ease-in;
}

.w3l-contact .contact a:hover {
    display: block;
    color: #dc4f72;
    text-decoration: underline;
    transition: 0.3s ease-in;
}

.w3l-contact .map iframe {
    width: 100%;
    height: 400px;
    display: block;
}

iframe {
    border: none;
}

/* FOOTER  */

.w3l-footer .w3l-footer-16-main.py-5 {
    background: #f7f9fc;
}

.w3l-footer .w3l-footer-16-main h3 {
    font-size: 20px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 700;
}

.w3l-footer .w3l-footer-16-main ul li {
    list-style: none;
    margin: 10px 0;
}

.w3l-footer .footer-gd-16 li a {
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
}

.w3l-footer .footer-gd-16 li a:hover {
    opacity: 0.8;
    color: #dc4f72;
}

.w3l-footer .end-column {
    background-color: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

.w3l-footer .w3l-footer-16-main h4 {
    font-size: 18px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 500;
}

.w3l-footer form {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.w3l-footer .subscribe input {
    background: #F7F9FC;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: #2C3038;
    font-weight: 600;
    border-radius: 6px;
}

.w3l-footer .subscribe button {
    text-align: center;
    background: #dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 6px;
}

.w3l-footer .w3l-footer-16-main p {
    line-height: 22px;
    color: #5a5a5a;
    font-size: 16px;
}

.w3l-footer .w3l-footer-16-main p a {
    color: #2C3038;
    text-decoration: none;
}

.w3l-footer .w3l-footer-16-main p a:hover {
    opacity: 0.8;
    color: #dc4f72;
}

.w3l-footer ul.social li {
    display: inline-block;
    margin-right: 5px;
}

.w3l-footer ul.social li a {
    color: #2C3038;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.w3l-footer ul.social li a:hover {
    opacity: 0.8;
    color: #dc4f72;
}

.w3l-footer #movetop {
    display: none;
    position: fixed;
    bottom: 75px;
    right: 0px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 45px;
    background: #dc4f72;
    padding: 0;
    opacity: 0.7;
    transition: 0.3s ease;
}

.w3l-footer #movetop span.fa {
    line-height: 45px;
    color: #fff;
    font-size: 22px;
}

/* NEWS */
.w3l-index5 .grids5-info {
    border-radius: 6px;
    transition: 0.3s ease-in;
    display: block;
    height: 100%;
    background: #fff;
    border: 1px solid #eee;
}

.w3l-index5 .grid-view a.zoom {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.w3l-index5 a.zoom {
    overflow: hidden;
    position: relative;
}

.w3l-index5 .grids5-info:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
}

.w3l-index5 a.zoom img {
    transition: 0.3s ease-in-out;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.w3l-index5 .grids5-info:hover a.zoom img {
    overflow: hidden;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transition: 0.3s ease-in-out;
}

.w3l-index5 .grid-view img.news-image {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.w3l-index5 .grid-view .grids5-info p.date {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    border-bottom: none;
    padding-bottom: 0px;
    position: absolute;
    top: 0;
    background: #dc4f72;
    padding: 15px;
    margin-bottom: 0;
    right: 0;
    margin-top: 0;
}

.w3l-index5 .blog-info {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.w3l-index5 .blog-info {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.w3l-index5 label.tag-label.red {
    background: rgba(238, 97, 120, 0.2);
    color: #dc4f72;
}

.w3l-index5 label.tag-label {
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}

.w3l-index5 .grid-view .grids5-info h4 a {
    font-size: 22px;
    line-height: 27px;
    color: #2C3038;
    display: block;
    font-weight: 600;
    text-decoration: none;
}

.w3l-index5 .grid-view .grids5-info h4 a:hover {
    color: #dc4f72;
}

.w3l-index5 .grid-view .grids5-info p {
    font-size: 16px;
    line-height: 24.5px;
    color: #5a5a5a;
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.w3l-index5 a.btn-news {
    padding: 0;
    color: #dc4f72;
    transition: 0.3s ease-in-out;
    border-radius: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

.w3l-index5 a.btn-news span {
    font-size: 60%;
    vertical-align: middle;
    padding-left: 0px;
    position: absolute;
    right: -13px;
    top: 7.5px;
    transition: 0.3s ease-in;
}

.w3l-index5 .grids5-info:hover a.btn-news span.fa {
    right: -16px;
    transition: 0.3s ease-in;
}

.w3l-index5 label.tag-label.green {
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
}

.w3l-index5 label.tag-label.blue {
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}

/* NEWS */
.w3l-faq-block {
    background-color: #F7F9FC;
}

.w3l-faq-block .faq-image {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}

.w3l-faq-block .w3l-faq ul {
    list-style: none;
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
}

.w3l-faq-block .w3l-faq ul li {
    position: relative;
    padding: 25px 50px 25px 20px;
    border: 1px solid #eee;
    margin: 0 0 15px 0;
    border-radius: 6px;
    background: #fff;
}

.w3l-faq-block .w3l-faq ul li:nth-of-type(1) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.w3l-faq-block .w3l-faq ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-appearance: none;
}

.w3l-faq-block .w3l-faq ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 25px;
    top: 16px;
}

.w3l-faq-block .w3l-faq ul li i:before,
.w3l-faq-block .w3l-faq ul li i:after {
    content: "";
    position: absolute;
    background-color: #2C3038;
    width: 3px;
    height: 9px;
}

.w3l-faq-block .w3l-faq ul li input[type=checkbox]:checked~i:before {
    transform: translate(2px, 0) rotate(45deg);
}

.w3l-faq-block .w3l-faq ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}

.w3l-faq-block .w3l-faq ul li input[type=checkbox]:checked~i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

.w3l-faq-block .w3l-faq ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}

.w3l-faq-block .w3l-faq h2 {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
    color: #2C3038;
}

.w3l-faq-block .w3l-faq p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 24.5px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}

.w3l-faq-block .w3l-faq ul li input[type=checkbox]:checked~p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

/* STATS  */
.w3l-stats {
    background: #F7F9FC;
}

.w3l-stats .stats_info {
    background-color: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    transition: 0.3s ease;
    border: 1px solid #eee;
}

.w3l-stats .stats_info h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: #2C3038;
    font-weight: 700;
}

.w3l-stats p.counter {
    font-size: 50px;
    line-height: 1;
    color: #dc4f72;
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}

p {
    color: #5a5a5a;
}

/* NEW BLOCK  */
.w3l-index4 .new-block {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../imglandingpage/bg.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}

.w3l-index4 .middle-section {
    max-width: 550px;
}

.w3l-index4 .middle-section h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.w3l-index4 .link-list-menu p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}

/* PRODUCTS */
.resp-tabs-list li {
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 33.333%;
    text-align: center;
    color: #4E5B61;
    background: #fff !important;
    border-bottom: 3px solid #eee;
}

.clear {
    clear: both;
}

/* PRODUCTS */
.products {
    padding: 0px 100px;
}
.products .tab-content .texth3{
    color: #2C3038;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}


.products ul {
    display: flex;
    justify-content: space-around;
}

.nav-item-custome {
    text-align: -webkit-center;
    border-bottom: 1px solid rgb(193, 193, 193);
    width: 33.33%;
    height: 60px;
}

.nav-item-custome p {
    font-size: 22px;
    font-weight: 700;
    border-radius: none !important;
}

.nav-item-custome .active {
    padding-bottom: 17px;
    border-bottom: 2px solid #dc4f72 !important;
    color: #dc4f72 !important;
    background-color: transparent !important;
    
    
}

.products .nav-pills .nav-link{
    border-radius: 0px !important;
}


/* OUR CLIENTS */
.our-client{
    background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url(../img/b2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    padding: 50px 0px;
    
}
.our-client-main {}
.our-client-item {}
.our-client-main-inner {
    justify-content: center;
   
}

.inner-right,.inner-left{
        margin: 0px 10px;
        display: flex;
}
.inner-left{
    background-color: white;
    height: 250px;
    padding: 0px;
    width: 45%;
    padding: 15px;
    border-radius: 15px;

    
}
.inner-right{
    background-color: white;
    height: 250px;
    padding: 0px;
    width: 45%;
    padding: 15px;
    border-radius: 15px;

}
.inner-left div:first-child{
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
    border: 3px solid #dc4f72;
    width: 20%;
    margin-right: 15px;
}

.inner-left div:last-child{
    width: 80%;
}
.inner-left div:first-child img{
    width: 100px;
    height: 100px;
}



.inner-right div:first-child{
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
    border: 3px solid #dc4f72;
    width: 20%; 
    margin-right: 15px;
}
.inner-right div:last-child{
    width: 80%;
}
.inner-right div:first-child img{
    width: 100px;
    height: 100px;
}

.inner-right div:last-child i{
    font-size: 35px;
    margin-right: 5px;
}
.inner-left div:last-child i{
    font-size: 35px;
    margin-right: 5px;

}

.our-client-main .carousel-indicators{
    bottom: -58px;
}
.our-client-main .carousel-indicators li{
    background-color: #cf2952;
}
.our-client-main .carousel-indicators li.active{
    background-color: #d60d3f;
}
.message2 p i{
    color: #d5d6d7;
}
.message2 p.name2 {
    font-size: 18px;
    color: #dc4f72;
    font-weight: 400;
}
.message2 span{
    font-size: 13px;
    color: #5a5a5a;
}
