* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  font-family: "Nunito", sans-serif;
}
h1 h2 h3 h4 h5 h6 {
  color: #2c3038;
}
p {
  color: #5a5a5a !important;
}
a {
  color: #5a5a5a !important;
}
nav {
  margin: 20px 0;
}
/* HEADER */
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
}
.empty {
  background-color: #ffffff;
  padding: 70px 0;
}
.nav-link.active {
  color: #dc4f72 !important;
}
.container {
  max-width: 1200px;
}
.container .navbar .navbar-brand {
  color: #dc4f72 !important;
  letter-spacing: -1px;
  font-weight: 700;
}
.container .btn {
  width: 100%;
  font-size: 15px !important;
  color: #dc4f72;
  border-color: #dc4f72;
}
.container .btn:hover {
  background-color: #dc4f72;
  color: #ffffff;
  border-color: #dc4f72;
}
.container .nav-link:hover {
  color: #dc4f72 !important;
}
.container .line {
  background-color: #dc4f72;
  width: 0;
  height: 2px;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0;
}
.container .line-page {
  background-color: #dc4f72;
  width: 0%;
  height: 2px;
  transition: all 0.5s;
}
ul{
  align-items: center;
}
.container .navbar-nav ul {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container .navbar-nav li:hover .line {
  width: 20px;
}
.container .dropdown-menu li:hover .line-page {
  width: 20px;
}
.container .nav-link {
  padding: 0 !important;
}
.container .dropdown-item {
  padding: 0 !important;
}
.container .dropdown-menu li {
  margin-bottom: 10px;

  /* padding: 0 20px 10px; */
}
.container .dropdown-menu {
  padding-top: 22px;
}
/* INTRODUCE 0  */
.sec0 {
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.9)),
    url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.intro0 {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
.intro0 .row .col-12 {
  padding: 0 20px;
}
.intro0 .row .col-12 h1 {
  font-weight: 700;
  font-size: 50px;
  margin-right: 30px;
}
.intro0 .row .col-12 p {
  font-size: 22px;
  margin-right: 30px;
  margin: 30px 0;
}
.intro0 .row .col-12 button {
  padding: 14px 33px;
  font-size: 20px;
  border: 1px solid #dc4f72;
  background-color: #ffffff;
  color: #dc4f72;
  border-radius: 7px;
  font-weight: 700;
  transition: all 0.3s;
}
.intro0 .row .col-12 button:hover {
  background-color: #d62f58;
  color: #ffffff;
}
.intro0 .row .col-12 img {
  max-width: 100%;
  height: auto;
}
/* INTRODUCE 1  */
.sec1 {
  padding: 65px 0;
}
.sec1 .intro1 {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.intro1 .main .title {
  text-align: center;
  margin: 70px 0;
}
.sec1 .intro1 .main .title.title1 {
  max-width: 70%;
  margin: 0 auto;
}
.sec1 .intro1 .main .title.title1 h3 {
  font-size: 50px;
  font-weight: 700;
}
.sec1 .intro1 .main .title.title1 .sub-title {
  font-weight: 650;
  color: #dc4f72 !important;
}
.sec1 .intro1 .main .title .row .col {
  border: 1px solid #f7f9fc;
  padding: 40px;
  transition: all 0.4s;
  cursor: pointer;
  background-color: #f7f9fc;
}
.sec1 .intro1 .main .title .row .col h4 {
  font-weight: 700;
  margin: 20px 0;
}
.sec1 .intro1 .main .title .row .col:hover {
  transform: translateY(-5%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  border: 1px solid #eee;
}
/* INTRODUCE 2  */
.sec2 {
  padding: 60px 0;
  background-color: #f7f9fc;
}
.sec2 .intro2 {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
.sec2 .intro2 .main .row .col {
  padding: 0 40px 0 15px;
}
.sec2 .intro2 .main .row .col .sub-title {
  color: #dc4f72 !important;
  font-weight: 700;
  margin: 0;
}
.sec2 .intro2 .main .row .col h3 {
  font-weight: 700;
  font-size: 40px;
}
.sec2 .intro2 .main .row .col .text {
  margin: 25px 0;
}
.sec2 .intro2 .main .row .col button {
  padding: 15px 30px;
  border: none;
  background-color: #dc4f72;
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  transition: all 0.4s;
}
.sec2 .intro2 .main .row .col button:hover {
  background-color: #d62f58;
}
.sec2 .intro2 .main .col {
  padding: 0 15px 0 40px;
}
.sec2 .intro2 .main .col img {
  width: 100%;
  transition: all 0.4s;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 25%);
}
.sec2 .intro2 .main .title img:hover {
  transform: translateY(-5%);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 25%);
}
/* INTRODUCE 3  */
.sec3 {
  background-color: #f7f9fc;
  padding: 60px 0;
}
.intro3 {
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
}
.intro3 .main .row .col {
  margin: 10px 22px;
  box-shadow: 1px 5px 6px rgba(196, 196, 196, 0.4);
  border-radius: 2px;
  transition: all 0.5s;
  padding: 20px;
}
.intro3 .main .row .col:hover {
  box-shadow: 1px 5px 6px rgba(196, 196, 196, 0.8);
  transform: translateY(-5%);
}
.intro3 .main .row .col .sub-title {
  font-size: 22px;
  color: #000000 !important;
  font-weight: 700;
}
.intro3 .main .row .col h1 {
  font-weight: 700;
  color: #dc4f72;
  font-size: 55px;
  line-height: 4.4rem;
}
/* INTRODUCE 4  */
.sec4 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.intro4 {
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
  padding: 30px 0;
}
.intro4 .main {
  margin: 30px 0;
}
.intro4 .main .title {
  padding: 40px 0;
  max-width: 600px;
}
.intro4 .main .title h4 {
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
}
.intro4 .main .title p {
  color: #ffffff !important;
  font-size: 18px;
  margin: 33px 0;
}
.intro4 .main .title button {
  border: none;
  padding: 16px 33px;
  font-weight: 700;
  border-radius: 5px;
}
/* INTRODUCE 5  */
.intro5 {
  width: 90%;
  margin: 30px auto;
  max-width: 1200px;
}
.intro5 .main {
  padding: 30px 0;
}
.intro5 .main .title {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 60px;
}
.intro5 .main .title .text {
  color: #d62f58 !important;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
}
.intro5 .main .title h1 {
  font-weight: 700;
  font-size: 50px;
}
.intro5 .main .row .col img {
  width: 100%;
  display: block;
  filter: grayscale(1);
  border-radius: 7px 7px 0 0;
}
.intro5 .main .row .col:hover img {
  filter: grayscale(0);
}

.intro5 .main .row .col a {
  position: relative;
}
.intro5 .main .row .col .text0 {
  background-color: #dc4f72;
  padding: 15px 20px;
  font-size: 16px;
  color: #ffffff !important;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 7px 0 0;
}
.intro5 .main .row .col .text.text1 {
  font-size: 15px;
  background-color: #ffd3de;
  border-radius: 20px;
  padding: 5px 15px;
  display: inline-block;
  margin-top: 30px;
  color: #d62f58 !important;
  font-weight: 700;
}
.intro5 .main .row .col .text.text2 {
  font-size: 15px;
  color: #008000 !important;
  border-radius: 20px;
  padding: 5px 15px;
  display: inline-block;
  margin-top: 30px;
  font-weight: 700;
  background-color: #d1fdd1;
}

.intro5 .main .row .col .text.text3 {
  font-size: 15px;
  border-radius: 20px;
  padding: 5px 15px;
  display: inline-block;
  margin-top: 30px;
  color: #0000ff !important;
  font-weight: 700;
  background-color: #d5d5f8;
}
.intro5 .main .row .col .content {
  padding: 0 17px;
}
.intro5 .main .row .col:hover .content i {
  transform: translateX(14%);
}
.intro5 .main .row .col:hover .content h4 {
  color: #d62f58 !important;
}
.intro5 .main .row .col .content .text4 {
  color: #d62f58 !important;
}
.intro5 .main .row .col .content a {
  text-decoration: none;
}
.intro5 .main .row .col .content i {
  transition: all 0.5s;
  font-size: 12px;
}
.intro5 .main .row .col {
  border: 1px solid #e9e3e3;
  padding: 0;
  padding-bottom: 25px;
  border-radius: 7px;
  transition: all 0.5s;
}
.intro5 .main .row .col:hover {
  transform: translateY(-2%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}
/* INTRODUCE 6  */
.sec6 {
  background-color: #f7f9fc;
  padding-bottom: 20px;
}
.intro6 {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.intro6 .main .title {
  text-align: center;
  width: 70%;
  margin: 60px auto;
}
.intro6 .main .title .text0 {
  color: #d62f58 !important;
  font-weight: 700;
  margin-bottom: 0;
}
.intro6 .main .title h1 {
  font-weight: 650;
}
.intro6 .main .row .col {
  padding: 0 30px;
}

.intro6 .main .row .col img {
  width: 100%;
  transition: all 0.5s;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}
.intro6 .main .row .col img:hover {
  transform: translateY(-3%);
}
.intro6 .main .row .col .accordion .accordion-item {
  margin: 20px 0;
  padding: 8px 0;
  border: 1px solid #e9e3e3;
  border-radius: 6px;
}
.intro6 .main .row .col .accordion .accordion-item button {
  font-size: 20px;
}
.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
  box-shadow: 0 0 0 rgb(255, 255, 255) !important;
}
.accordion-button:focus {
  box-shadow: 0 0 0 rgb(255, 255, 255) !important;
}
/* INTRODUCE 7  */
.intro7 {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 90px;
}
.intro7 .main .title {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.intro7 .main .row.row1 {
  margin-top: 20px;
  padding: 30px 0;
}
.intro7 .main .row.row1 .col {
  padding: 0;
  text-align: center;
  font-size: 22px;
  font-weight: 850;
}
.intro7 .main .row.row1 .col a {
  text-decoration: none;
}
.intro7 .main .row.row1 .line {
  background-color: #e8e8e8;
  width: 1;
  height: 2px;
  margin-top: 15px;
  padding: 1.5px;
}
.intro7 .main .row.row1 .col.col1 a {
  color: #dc4f72 !important;
}
.intro7 .main .row.row1 .col.col1 .line {
  background-color: #dc4f72;
}
.intro7 .main .title .text0 {
  color: #d62f58 !important;
  font-weight: 700;
  margin-bottom: 0;
}
.intro7 .main .title h1 {
  font-weight: 650;
}
.intro7 .main .row.row1 {
  width: 85%;
  margin: 0 auto;
}
.intro7 .main .row.row2 {
  width: 85%;
  margin: 0 auto;
}
.intro7 .main .row.row2 .col p {
  margin: 20px 0;
}
.intro7 .main .row.row2 .col img {
  width: 100%;
  transition: all 0.5s;
}
.intro7 .main .row.row2 .col img:hover {
  transform: translateY(-3%);
}
.intro7 .main .row.row2 .col h3 {
  font-weight: 700;
}
.intro7 .main .row.row2 .col button {
  padding: 15px 25px;
  font-size: 15px;
  background-color: #ffffff;
  color: #d62f58;
  border: 1px solid #d62f58;
  transition: all 0.5s;
  margin-top: 20px;
  border-radius: 5px;
}
.intro7 .main .row.row2 .col button:hover {
  background-color: #d62f58;
  color: #ffffff;
}

/* OUR CLIENTS */
.our-client {
  background-image: linear-gradient(
      to right,
      rgba(247, 249, 252, 0.77),
      rgba(247, 249, 252, 0.77)
    ),
    url(../img/b2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  padding: 50px 0px;
}
.our-client h6 {
  color: #d62f58;
}
.our-client h1 {
  font-size: 50px;
  font-weight: 700;
}
.our-client-main-inner {
  justify-content: center;
}
.inner-right,
.inner-left {
  margin: 0px 10px;
  display: flex;
}
.inner-left {
  background-color: white;
  height: 250px;
  padding: 0px;
  width: 45%;
  padding: 15px;
  border-radius: 15px;
}
.inner-right {
  background-color: white;
  height: 250px;
  padding: 0px;
  width: 45%;
  padding: 15px;
  border-radius: 15px;
}
.inner-left div:first-child {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid #dc4f72;
  width: 20%;
  margin-right: 15px;
}

.inner-left div:last-child {
  width: 80%;
}
.inner-left div:first-child img {
  width: 100px;
  height: 100px;
}

.inner-right div:first-child {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid #dc4f72;
  width: 20%;
  margin-right: 15px;
}
.inner-right div:last-child {
  width: 80%;
}
.inner-right div:first-child img {
  width: 100px;
  height: 100px;
}

.inner-right div:last-child i {
  font-size: 35px;
  margin-right: 5px;
}
.inner-left div:last-child i {
  font-size: 35px;
  margin-right: 5px;
}

.our-client-main .carousel-indicators {
  bottom: -58px;
}
.our-client-main .carousel-indicators li {
  background-color: #cf2952;
}
.our-client-main .carousel-indicators li.active {
  background-color: #d60d3f;
}
.message2 p i {
  color: #d5d6d7;
}
.message2 p.name2 {
  font-size: 18px;
  color: #dc4f72;
  font-weight: 400;
}
.message2 span {
  font-size: 13px;
  color: #5a5a5a;
}

/* INTRODUCE 8  */
.intro8 {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}
.intro8 .main .title {
  text-align: center;
  width: 70%;
  margin: 60px auto;
}
.intro8 .main .title .text0 {
  color: #d62f58 !important;
  font-weight: 700;
  margin-bottom: 0;
}
.intro8 .main .title h1 {
  font-weight: 650;
}
.intro8 .main .info .row .col.info1 .test {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto 1fr;
  background-color: #ffffff;
}
/* INTRODUCE 9  */
.intro9 {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 90px;
}
.intro9 .main .title {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
.intro9 .main .title h1 {
  font-size: 45px;
  font-weight: 700;
}
.intro9 .main .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.intro9 .main .btn .btn-1 {
  margin: 0 20px;
  padding: 15px 30px;
  background-color: #ffffff;
  color: #d62f58;
  border: 1px solid #d62f58;
  border-radius: 5px;
  transition: all 0.5s;
}
.intro9 .main .btn .btn-1:hover {
  background-color: #d62f58;
  color: #ffffff;
}
.intro9 .main .btn .btn-2 {
  padding: 15px 30px;
  background-color: #dc4f72;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
}
.intro9 .main .btn .btn-2:hover {
  background-color: #d62f58;
}
/* INTRODUCE 10  */
.sec10 {
  background-color: #f7f9fc;
  padding-top: 10px;
}

.intro10 {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
  margin-top: 90px;

  margin-bottom: 30px;
}
.intro10 .main .row .col h4 {
  margin-bottom: 30px;
  font-weight: 600;
}
.intro10 .main .row .col .title input {
  margin: 20px 0;
  border: none;
  width: 15rem;
}
.intro10 .main .row .col .title a {
  display: block;
  text-decoration: none;
  transition: all 0.5s;
  margin: 10px 0;
}
.intro10 .main .row .col .title a:hover {
  color: #e4486f !important;
}
.intro10 .main .row .col.col1 .text {
  color: #000000 !important;
  font-size: 18px;
}
.intro10 .main .row .col.col1 .title {
  background-color: white;
  width: 100%;
  box-shadow: 1px 5px 8px rgba(196, 196, 196, 0.2);
  padding: 20px 30px;
}
.intro10 .main .row .col.col1 .title button {
  padding: 10px 37px;
  border-radius: 7px;
  color: #ffffff;
  background-color: #df6080;
  border: none;
}
hr {
  margin-bottom: 10px;
  max-width: 1280px;
}

/* FOOTER */
footer {
  background-color: #f7f9fc;
  padding: 30px 0;
}
.footer {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}
.footer .footer-content .title .contact0 p {
  font-size: 17px;
  margin-bottom: 0 !important;
}
.footer .footer-content .title .contact0 a {
  color: #000000 !important;
  text-decoration: none;
}
.footer .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-content .title .contact {
  text-align: right;
}
.footer .footer-content .title .contact a {
  padding: 0 20px;
  color: #000000 !important;
  transition: 0.3s;
}
.footer .footer-content .title .contact a:hover {
  color: #dc4f72 !important;
}
